<div *ngIf="pokemons" id="cards">
    <figure *ngFor="let pokemon of pokemons" class="card ">

        <div (click)="goToThisPokemon(pokemon.id)">

            <div class="card__image-container">
                <img [src]="pokemon.sprites?.front_default" [alt]="pokemon.name" class="card__image">
            </div>
            <figcaption class="card__caption">
                <h1 class="card__name">{{pokemon.name}}

                </h1>
            </figcaption>

        </div>
    </figure>
</div>