

img {
  min-height: 200px;
  margin: auto;
  display: inline-block;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;

}
.cards{
    
    align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    
}
.card {
  display: inline-block;
  width: 500px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: capitalize
}

.card__stats {
  margin: 1em 0;
  width: 100%;
}
.card__abilities {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
